body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background: #f4f4f4;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 8px;
}

button {
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;
}

li {
    margin: 10px 0;
}
